<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group</key>
		<string>0</string>
		<key>type</key>
		<string>arrow</string>
		<key>title</key>
		<string>我的收藏</string>
		<key>imageName</key>
		<string>Mi-MyFavorites_24x24_</string>
	</dict>
	<dict>
		<key>group</key>
		<string>0</string>
		<key>type</key>
		<string>arrow</string>
		<key>title</key>
		<string>浏览历史</string>
		<key>imageName</key>
		<string>Mi-BrowsingHistory_24x24_</string>
	</dict>
	<dict>
		<key>group</key>
		<string>0</string>
		<key>type</key>
		<string>arrow</string>
		<key>title</key>
		<string>头条推送</string>
		<key>imageName</key>
		<string>Mi-PropellingMovement_24x16_</string>
	</dict>
	<dict>
		<key>group</key>
		<string>0</string>
		<key>type</key>
		<string>default</string>
		<key>title</key>
		<string>推荐好友</string>
		<key>imageName</key>
		<string>Mi-RecommendFriends_24x24_</string>
	</dict>
	<dict>
		<key>group</key>
		<string>0</string>
		<key>type</key>
		<string>default</string>
		<key>title</key>
		<string>好评一下</string>
		<key>imageName</key>
		<string>Mi-FavourableComment_24x24_</string>
	</dict>
	<dict>
		<key>group</key>
		<string>1</string>
		<key>type</key>
		<string>label</string>
		<key>title</key>
		<string>清除缓存</string>
		<key>imageName</key>
		<string>Mi-CleanCache_24x22_</string>
	</dict>
	<dict>
		<key>group</key>
		<string>1</string>
		<key>type</key>
		<string>switch</string>
		<key>title</key>
		<string>夜间模式</string>
		<key>imageName</key>
		<string>Mi-NightMode_24x23_</string>
	</dict>
	<dict>
		<key>group</key>
		<string>1</string>
		<key>type</key>
		<string>slider</string>
		<key>title</key>
		<string>屏幕亮度</string>
		<key>imageName</key>
		<string>Mi-ScreenIntensity_24x24_</string>
	</dict>
	<dict>
		<key>group</key>
		<string>2</string>
		<key>type</key>
		<string>arrow</string>
		<key>title</key>
		<string>关于</string>
		<key>imageName</key>
		<string>Mi-About_24x24_</string>
	</dict>
	<dict>
		<key>group</key>
		<string>2</string>
		<key>type</key>
		<string>arrow</string>
		<key>title</key>
		<string>隐私政策</string>
		<key>imageName</key>
		<string>Mi-Secret_24x26_</string>
	</dict>
</array>
</plist>
