<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>LB1</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>LB2</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>LB3</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>LB4</string>
	</dict>
</array>
</plist>
