<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>table-1</string>
		<key>title</key>
		<string>性激素六项结果怎么看</string>
		<key>text</key>
		<string>性激素六项是生活当中比较常见的女性身体检查，性激素六项包括女性的生殖激素以及女性的身体内分泌方面，通过性激素六项检查可以判断出女性身体是否患有生殖系统的问题或者是判断出内分泌等疾病，而性激素六项检查后都会有明确的参考，可以通过检测结果来进行判断。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1898214.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-2</string>
		<key>title</key>
		<string>抽血可以吃早餐吗</string>
		<key>text</key>
		<string>抽血检查是通过抽血化验的方式来起到检查身体疾病的目的，而做抽血检查一般是不可以吃早餐的，因为人体在吃完早餐之后身体就会容易发生一些变化，就会容易影响到甲状腺，会影响到检查的结果，因此做抽血检查最好是空腹，尽量不要吃早餐。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1898206.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-3</string>
		<key>title</key>
		<string>柚子皮除异味</string>
		<key>text</key>
		<string>也许大家都知道，家里刚装修后会买来柚子把果肉取出后，柚子皮就放在刚装修的房内，因为柚子皮除异味的效果不错。柚子皮可吸附房间内的有毒气体，对于甲醛也有很好的吸收作用。不过，大家在放置柚子皮时要注意，要按照房子的大小来选择柚子子皮的多少，当然放的越多效果越好。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1898191.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-4</string>
		<key>title</key>
		<string>金丝玉不适合带的人群</string>
		<key>text</key>
		<string>我常见的金丝玉常常是制作的手镯，不仅仅是为了美观，古时有辟邪的说法，也具有美颜的功效，但东西虽好，却不是人人都适用。金丝玉不适合带的人群中，身体素质较差的不行，因为金丝玉含有一些微量元素，尤其不适合小孩子戴。不仅金丝玉手镯戴时要有所讲究，其它饰品都应选择适合自己的。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1898183.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-5</string>
		<key>title</key>
		<string>头发去静电小妙招</string>
		<key>text</key>
		<string>一到天凉的时候就会有各种静电，尤其是头发上的静电更让人苦恼，甚至有时候头发都能竖起来，让人十分的尴尬，大家可学习一些去头发静电小妙招，同时要保持头发的湿润。选择梳头发的梳子也是避免静电的方式，一定要选择木梳子或牛角梳；另外，洗发水的选择也要以保湿为重。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1898181.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-6</string>
		<key>title</key>
		<string>光脚穿鞋脚臭</string>
		<key>text</key>
		<string>最近几年特别流行不穿袜子穿鞋，但有一个问题就是光脚穿鞋脚臭，尤其是鞋子如果不透气不是纯皮，不仅会有臭味，对脚的健康也十分不利，所以还是建议大家穿袜子。有很多袜子是不会露出来的，效果和光脚差不多。发生脚臭后可以选择泡脚的方式，比如白萝卜泡水就可有效改善脚臭的问题。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1898179.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-7</string>
		<key>title</key>
		<string>石榴皮治癣</string>
		<key>text</key>
		<string>石榴是一种很美味的水果，如今有一种软核石榴更加受人们的喜爱，因为吃起来十分方便，而且适合各个年龄段的人食用。石榴具有丰富的营养，而且石榴皮也是一种中药，很多人都知道石榴皮治癣的效果还是不错的。不过，如果是牛皮癣则石榴皮的效果不好，不能起到治疗作用，而一些普通的皮肤癣刚可以试一下石榴皮。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1898149.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-8</string>
		<key>title</key>
		<string>油边和护心肉有区别吗</string>
		<key>text</key>
		<string>油边和护心肉之间是会有非常多的区别，最大的区别就是护心肉是处于心脏部位的肉，可以保护心脏的晃动，这样就会使得这块肉吃起来变得非常的鲜嫩，要比一般的肉更加的嫩和营养价值高一些，那么在制作的时候可以采取大火翻炒的方式，只有这样才可以更好的去锁住其他所包括的水分。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1898132.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-9</string>
		<key>title</key>
		<string>脖子吸草莓印危害性</string>
		<key>text</key>
		<string>情侣之间为了表达爱意总是会在脖子上面吸草莓印，但其实这样对于身体伤害还是非常大，尤其是颈动脉是不能够去吸草莓，这是会导致颈动脉的血液流动受到阻碍，严重情况下还会当场窒息休克，还是应该要多加关注，如果是想要去除掉草莓印就应该要使用冷热敷交替的方法来淡化。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1898103.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-10</string>
		<key>title</key>
		<string>父亲O型母亲AB型孩子什么血型</string>
		<key>text</key>
		<string>人们总是习惯性的会用父母的血型去判定孩子的血型，这的确是会有计算的方法，但有的时候还是会存在一定的误差，还是应该要等到宝宝抽血化验以后才可以知道真正的情况，甚至是还有些宝宝可能会出现基因突变，若是如此就会让身体出现异常，导致自己出现了罕见血型，这种情况现在也多见起来。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1898072.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-11</string>
		<key>title</key>
		<string>血小板值为多少是正常</string>
		<key>text</key>
		<string>血小板对于人们来说是非常重要的一个指数，如果是血小板在检查的时候发现指数不太正常就可能是发生了炎症，或者是其他比较严重的疾病影响，一般正常的血小板指数都是在100左右，如果是超出太多就需要做更详细的血液检查，因为这可能就不太有利于人们伤口恢复，会导致血流不止。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1898067.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-12</string>
		<key>title</key>
		<string>跳绳能治疗输卵管堵塞</string>
		<key>text</key>
		<string>女性通过输卵管排出卵子，卵子进入卵巢之后能够与外来的镜子进行结合，从而使受精卵着床，完成受孕，一旦输卵管发生堵塞，卵子没办法顺利进入卵巢，就没办法完成受孕，所以人们需要疏通输卵管，通过某些运动能够帮助输卵管疏通，下面来了解一下跳绳能治疗输卵管堵塞吗?</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1898011.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-13</string>
		<key>title</key>
		<string>血糖危急值</string>
		<key>text</key>
		<string>血糖如果是在检查的时候呈现出来危急值就应该要做进一步的检查，只有做完了全面的检查才可以确诊血糖出现这些问题是否是发生了异常所引起，有的时候一次血糖异常是无法说明患上了高血糖的疾病，还是应该要测量几次血糖才可以进行判断，这样就应该要接受相关的降血糖治疗。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1897984.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-14</string>
		<key>title</key>
		<string>甲状腺化验单正常值</string>
		<key>text</key>
		<string>甲状腺是负责调节人体反馈调节系统的器官，甲状腺可以分泌甲状腺激素，甲状腺激素如果分泌异常会导致甲状腺疾病的出现，例如甲状腺肿大，甲状腺结节等疾病，因此在体检的时候需要对甲状腺进行化验，确保激素分泌正常，预防疾病发生，下面来看看甲状腺化验单正常值为多少?</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1897977.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-15</string>
		<key>title</key>
		<string>有什么办法可以去抬头纹</string>
		<key>text</key>
		<string>皱纹会随着年龄的增长而出现，在25岁之后细胞的活性就会逐渐降低出现抬头纹，这个时候一定要重视起来，不要让它自由发展，出现抬头纹，尽量不要皱眉头，否则会加重抬头的深度，可以涂抹一些霜来补水保湿，在每晚睡觉之前可以搓热双手放在额头部位，去除抬头纹起到一定的疗效，下面给大家详细介绍一下具体方法。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1897951.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-16</string>
		<key>title</key>
		<string>热敷用毛巾还是热水袋</string>
		<key>text</key>
		<string>在崴脚之后，骨骼会出现疼痛感，而最快消肿的方法就是热敷，但是热敷的方法有很多种，可以用毛巾，也可以用热水袋。要根据不同的情况，选用不一样的方法。热毛巾会直接接触到皮肤，增加血液的流动，而热水袋外面包裹的布可以缓冲热量的传递。对皮肤有一定的保护作用，那么热敷是用热水袋还是用热毛巾呢，下面给大家详细介绍一下。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1897949.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-17</string>
		<key>title</key>
		<string>天天跳绳的好处和坏处</string>
		<key>text</key>
		<string>对于减肥的人来说，一方面要控制饮食的摄入，另一方面，就要加强体育锻炼，跳绳是一项减脂的最佳运动，但是如果天天跳绳的话，对身体有一定的好处和坏处。好的一方面是可以锻炼身体，减轻体重。而坏的一方面会导致骨骼疏松变质，尤其对于膝盖部位，很容易导致骨折，所以在锻炼的过程中，一定要注意安全，下面给大家详细介绍一下，天天跳绳的好处和坏处。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1897935.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-18</string>
		<key>title</key>
		<string>手心有毛孔吗</string>
		<key>text</key>
		<string>众所周知，皮肤是排出汗液的一个最主要的途径，而排出汗液的通道就是皮肤上的毛孔。如果仔细观察的话，会发现手心上没有很明显的毛孔，其实这是一种错误的观点，手心上分布着上千个毛孔，这样才会导致手心出汗，之所以看不见毛孔的存在，是因为在这个部位的皮脂腺不发达，不能很容易观察出来。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1897934.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-19</string>
		<key>title</key>
		<string>怎样教孩子跳绳</string>
		<key>text</key>
		<string>众所周知，皮肤是排出汗液的一个最主要的途径，而排出汗液的通道就是皮肤上的毛孔。如果仔细观察的话，会发现手心上没有很明显的毛孔，其实这是一种错误的观点，手心上分布着上千个毛孔，这样才会导致手心出汗，之所以看不见毛孔的存在，是因为在这个部位的皮脂腺不发达，不能很容易观察出来。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1897933.html</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>table-20</string>
		<key>title</key>
		<string>甲状旁腺素正常值范围</string>
		<key>text</key>
		<string>甲状腺是人体负责负反馈调节的重要部位，甲状腺能够释放甲状腺激素，对甲状腺而言，最重要的微量元素就是碘元素，正因为有碘元素的存在，甲状腺才能正常分泌激素，调节人体内环境稳定，如果缺了碘元素，激素分泌就会异常，严重者还会造成甲状腺肿大等疾病，下面来了解甲状旁腺素的正常值。</string>
		<key>url</key>
		<string>https://www.cndzys.com/shenghuoyangsheng/changshi/1897924.html</string>
	</dict>
</array>
</plist>
