<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>btnName</key>
		<string>食疗食补</string>
		<key>btnImage</key>
		<string>LPLBtnImage_eat60*60</string>
	</dict>
	<dict>
		<key>btnName</key>
		<string>按摩养生</string>
		<key>btnImage</key>
		<string>LPLBtnImage_mass60*60</string>
	</dict>
	<dict>
		<key>btnName</key>
		<string>百宝箱</string>
		<key>btnImage</key>
		<string>LPLBtnImage_tool60*60</string>
	</dict>
	<dict>
		<key>btnName</key>
		<string>AR相机</string>
		<key>btnImage</key>
		<string>LPLBtnImage_camera60*60</string>
	</dict>
</array>
</plist>
